{% extends 'layout.html' %}
    {% block content %}

        <div class="basic_cont">
            <div id="left_aside">
                <div id="left_nav">

                </div>
                <div id="left-nav-bottom">
                    <div><a href="{% url 'finance0301' %}">1. 재무설계</a></div>
                    <div id="lnb-1-1">
                        <div><a href="{% url 'finance0301' %}">: 재무설계란</a></div>
                        <div><a href="{% url 'finance0302' %}">: 재무설계절차</a></div>
                        <div><a href="{% url 'finance030301' %}">: 재무설계분야</a></div>
                    </div>
                    <div><a href="{% url 'finance030401' %}">2. 상담효과</a></div>
                    <div><a href="{% url 'finance030501' %}">3. 진단체크</a></div>
                </div>
            </div>
            <div id="right_aside">
                <div id="r-subtitle2">
                    재무설계절차
                </div>
                <div id="fp-r-second">
                    <table id="fp-r-tb">
                        <tr>
                            <td id="fptb-1">
                                재무설계 과정은 금융상품을 판매하기 위한 전략을 수립하는 것이 아닌<br>
                                재무목표 달성을 위해 지속적으로 점검하고 보완해가는 과정입니다.
                            </td>
                            <td id="fptb-1-2">
                                그림
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table id="fp-r-tb2">
                        <tbody>
                        <tr>
                            <td class="fptb2-1">
                                1. 재무설계 이해 및 관계설정
                            </td>
                            <td class="fptb2-2">
                                ㅇㄴㅁㅇㄴㅁㅇㄴ
                            </td>
                        </tr>
                        <tr>
                            <td class="fptb2-1">
                                2. 재무목표 설정 및 정보제공
                            </td>
                            <td class="fptb2-2">
                                ㅇㄴㅁㅇㄴㅁㅇㄴ
                            </td>
                        </tr>
                        <tr>
                            <td class="fptb2-1">
                                3. 재무상태 분석 및 평가
                            </td>
                            <td class="fptb2-2">
                                ㅇㄴㅁㅇㄴㅁㅇㄴ
                            </td>
                        </tr>
                        <tr>
                            <td class="fptb2-1">
                                4. 재무설계안 검토 및 합의
                            </td>
                            <td class="fptb2-2">
                                ㅇㄴㅁㅇㄴㅁㅇㄴ
                            </td>
                        </tr>
                        <tr>
                            <td class="fptb2-1">
                                5. 재무설계 합의안 실행
                            </td>
                            <td class="fptb2-2">
                                ㅇㄴㅁㅇㄴㅁㅇㄴ
                            </td>
                        </tr>
                        <tr>
                            <td class="fptb2-1">
                                6. 정기점검
                            </td>
                            <td class="fptb2-2">
                                ㅇㄴㅁㅇㄴㅁㅇㄴ
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table id="fp-r-tb3">
                        <tbody>
                            <tr>
                                <td id="fptb3-1">
                                    그림
                                </td>
                                <td class="padding-left_3px">
                                    재무설계 상담료 비용<br>
                                    > 서비스기간 : 상담료 1회 지불 -> 1개월 서비스 제공<br>

                                    > 상담료 비용 책정 기준 -> ClassA (33000) / ClassB (5500) / VIP (협의)<br>
                                    (부가세 포함 금액)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock content %}