{% extends 'layout.html' %}
    {% block content %}

<div class="basic_cont">
    <div id="left_aside">
        <div id="left_nav">
        </div>
        <div id="left-nav-bottom">
            <div><a href="{% url 'knowledge040101' %}">1. 은행</a></div>
            <div><a href="{% url 'knowledge040201' %}">2. 증권</a></div>
            <div><a href="{% url 'knowledge040301' %}">3. 보험</a></div>
            <div><a href="{% url 'knowledge040401' %}">4. 부동산</a></div>
            <div><a href="{% url 'knowledge040501' %}">5. 세금</a></div>
            <div><a href="{% url 'knowledge040601' %}">6. 궁금합니다.</a></div>
        </div>
    </div>
    <div id="right_aside">
        <div id="r-subtitle2">
            수정페이지
        </div>
        <div>
            <div class="list_box">
                <a href="{% url 'knowledge040401' %}">
                목록
                </a>
            </div>
        </div>   
        <form method="POST" action="/knowledge/04/{{ oldboard04.id }}/board04_edit_db/">
            {% csrf_token %}
            <table class="write_detail">
                <tr class="wd_title">
                    <td class="w25">
                        제목
                    </td>   
                    <td>
                        <input type="text" name="title" value="{{ oldboard04.title }}" maxlenghth="50">
                    </td>
                </tr>
                <tr class="wd_contents">
                    <td class="center_center">
                        내용
                    </td>   
                    <td>                        
                        <textarea type="text" name="content">{{ oldboard04.content }}</textarea>
                    </td>
                </tr>                    
            </table>
            <div class="confirm_btn">                 
                <table class="confirm_box">
                    <td>
                        <input type="submit" value="저장">
                    </td>
                </table> 
            </div>
        </form>
   </div>  
</div>

    {% endblock content %}
