{% extends 'layout.html' %}
    {% block content %}

        <div class="basic_cont">
            <div id="left_aside">
                <div id="left_nav">
                    
                </div>
                <div id="left-nav-bottom">
                    <div><a href="{% url 'knowledge040101' %}">1. 은행</a></div>
                    <div><a href="{% url 'knowledge040201' %}">2. 증권</a></div>
                    <div><a href="{% url 'knowledge040301' %}">3. 보험</a></div>
                    <div><a href="{% url 'knowledge040401' %}">4. 부동산</a></div>
                    <div><a href="{% url 'knowledge040501' %}">5. 세금</a></div>
                    <div><a href="{% url 'knowledge040601' %}">6. 궁금합니다.</a></div>
                </div>
            </div>
            <div id="right_aside">
                <div class="complete_box">
                    삭제되었습니다.
                </div>   
                <div>
                    <div class="list_box">
                        <a href="/knowledge/03/?page={{ page }}">
                        확인</a>
                    </div>            
                </div>
           </div>
              
        </div>

    {% endblock content %}
