{% extends 'layout.html' %}
    {% block content %}

        <div class="basic_cont">
            <div id="left_aside">
                <div id="left_nav">

                </div>
                <div id="left-nav-bottom">
                    <div><a href="{% url 'knowledge040101' %}">1. 재무설계</a></div>
                    <div><a href="{% url 'knowledge040201' %}">2. 증권</a></div>
                    <div><a href="{% url 'knowledge040301' %}">3. 보험</a></div>
                    <div><a href="{% url 'knowledge040401' %}">4. 부동산</a></div>
                    <div><a href="{% url 'knowledge040501' %}">5. 세금</a></div>
                    <div><a href="{% url 'knowledge040601' %}">6. 궁금합니다.</a></div>
                </div>
            </div>
            <div id="right_aside">
                <div id="r-subtitle">
                    검색어 : {{ searchStr }}
                </div>
                <table id="fa-r-tb9">
                    <tr class="fatb9-first">
                        <td id="fatb9-1-1">번호</td>
                        <td id="fatb9-1-2">제목</td>
                        <td id="fatb9-1-3">작성일</td>
                        <td id="fatb9-1-4">조회수</td>
                    </tr>
                      <tbody>
                        {% for search in searchAll %}
                    <tr>
                    <td>{{ search.id }}</td>
                    <td><a href = "{{ search.id }}">{{ search.title }}</a></td>
                    <td>{{ search.created_at }}</td>
                    <td>{{ search.hits }}</td>
                    </tr>
                        {% endfor %}
                      </tbody>
                </table>
                {{ msg }}
                <div class="pagination">
                    {% if searchAll.has_other_pages %}
                    {% if searchAll.has_previous %}
                        <a href="?page={{ searchAll.previous_page_number }}">&laquo;</a>
                    {% else %}
                        &laquo;
                    {% endif %}
                    {% for i in searchAll.paginator.page_range %}
                    {% if searchAll.number == i %}
                    <b>{{ i }}</b>
                    {% else %}
                        <a href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                    {% endfor %}
                    {% if searchAll.has_next %}
                        <a href="?page={{ searchAll.next_page_number }}">&raquo;</a>
                    {% else %}
                        &raquo;
                    {% endif %}
                    {% endif %}
                </div>
                <div>
                    <table class="search_table">
                        <tbody>
                            <td class="search_box">
                                <table class="search_table2">
                                    <form method="get" action="{% url 'search03list' %}">
                                    <td>
                                        <input type="search" name="search" id="search_input">
                                    </td>
                                    <td>
                                        <input type="submit" value="검색" id="search_btn">
                                    </td>
                                    </form>
                                </table>
                            </td>
                            {% if username %}
                            <td class="question_box">
                                <div>
                                    <a href="{% url 'board03_write' %}">글올리기</a>
                                </div>
                            </td>
                            {% endif %}
                        <tbody>
                    </table>
                </div>
            </div>
          </div>

            {% endblock content %}
