{% extends 'layout.html' %}
    {% block content %}

        <div class="basic_cont">
            <div id="left_aside">
                <div id="left_nav">
                    상담 안내
                </div>
                <div id="left-nav-bottom">
                    <div class="lnb-borderbox"><a href="{% url 'counsel050101' %}">1. 상담후기</a></div>
                    <div><a href="{% url 'counsel050201' %}">2. 재무상담신청</a></div>
                </div>
            </div>
            <div id="right_aside">
                <div id="r-subtitle">
                    상담 신청 작성란
                </div>
                <div>
                    <form method="POST" action="">   {% csrf_token %}
                        <table class="counsel_table apply">
                            <tbody>
                                <tr>
                                    <td class="cta_sub">*이름</td>
                                    <td><input type="text" name="writer" required maxlength="100"></td>
                                </tr>
                                <tr>
                                    <td class="cta_sub">*출생년도</td>
                                    <td>
                                        <div class="container">
                                            <fieldset>
                                            	<div class="control-group">
                                              <label class="control-label"></label>
                                              <div class="controls input-append date form_date" data-date="" data-date-format="yyyy MM dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                <input size="16" type="text" value="" name="birth" required readonly>
                                                <span class="add-on"><i class="icon-remove"></i></span>
                                    					<span class="add-on"><i class="icon-th"></i></span>
                                              </div>
                                    				<input type="hidden" id="dtp_input2" value="" /><br/>
                                          </div>
                                          </fieldset>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cta_sub">*연락처</td>
                                    <td><input type="tel" name="tel" required placeholder="예> 01012345678 " maxlength="100"></td>
                                </tr>
                                <tr>
                                    <td class="cta_sub">*이메일</td>
                                    <td><input type="email" name="email" required maxlength="100"></td>
                                </tr>
                                <tr>
                                    <td class="cta_sub">*거주지역</td>
                                    <td><input type="text" name="address" required maxlength="100"></td>
                                </tr>
                                <tr>
                                    <td class="cta_sub">*직업</td>
                                    <td><input type="text" name="job" required maxlength="100"></td>
                                </tr>
                                <tr>
                                    <td class="cta_sub">상담 분야</td>
                                    <td><input type="text" name="area" maxlength="100"></td>
                                </tr>
                                <tr>
                                    <td class="cta_sub">연락가능시간</td>
                                    <td>
                                        <div class="container">
                                            <fieldset>
                                              <div class="control-group">
                                              <label class="control-label"></label>
                                              <div class="controls input-append date form_time" data-time="" data-time-format="HH mm ss" data-link-field="dtp_input2" data-link-format="HH:mm:ss">
                                                <input size="16" type="text" value="" name="starttime" required readonly>
                                                <span class="add-on"><i class="icon-remove"></i></span>
                                              <span class="add-on"><i class="icon-th"></i></span>
                                              </div>
                                            <input type="hidden" id="dtp_input2" value="" /><br/>
                                          </div>
                                          </fieldset>
                                      </div>
                                    </td>
                                    <td>
                                        <div class="container">
                                            <fieldset>
                                              <div class="control-group">
                                              <label class="control-label"></label>
                                              <div class="controls input-append date form_time" data-time="" data-time-format="HH mm ss" data-link-field="dtp_input2" data-link-format="HH:mm:ss">
                                                <input size="16" type="text" value="" name="endtime" required readonly>
                                                <span class="add-on"><i class="icon-remove"></i></span>
                                              <span class="add-on"><i class="icon-th"></i></span>
                                              </div>
                                            <input type="hidden" id="dtp_input2" value="" /><br/>
                                          </div>
                                          </fieldset>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cta_sub">상담 희망 FP</td>
                                    <td><input type="text" name="fp" maxlength="100">{{ fp }}</td>
                                </tr>
                                <tr>
                                    <td class="cta_sub">문의내용</td>
                                    <td><input type="text" name="content" maxlength="100"></td>
                                </tr>
                            </tbody>
                          </table>{{ msg }}
                        <div class="agree_title">
                            개인정보보호를 위한 동의사항
                        </div>
                        <div class="agree_box">
                            동의내용
                        </div>
                        <div class="agree_question">
                            <span>
                                위 내용에 동의하십니까?
                            </span>
                        </div>
                        <div class="counsel_apply confirm">
                            <div>
                                <span>
                                  예
                                    <input type="radio" name="agree" value="yes" checked="checked">
                                  아니오
                                    <input type="radio" name="agree" value="no">
                                </span>
                                <span>
                                    <input type="submit" value="확인">
                                    <input type="reset" name="cancel" value="취소">
                                </span>
                            </div>
                        </div>
                      </form>
                    </div>
              </div>
        </div>
        {% block javascript %}
        <script type="text/javascript">
            $('.form_datetime').datetimepicker({
                language:  'ko',
                weekStart: 1,
                todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
                showMeridian: 1
            });
          $('.form_date').datetimepicker({
                language:  'ko',
                weekStart: 1,
                todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
            });
          $('.form_time').datetimepicker({
                language:  'ko',
                weekStart: 1,
                todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 1,
            minView: 0,
            maxView: 1,
            forceParse: 0
            });
        </script>
        {% endblock %}
   {% endblock content %}
