{% extends 'layout.html' %}
    {% block content %}

        <div class="basic_cont">
            <div id="left_aside">
                <div id="left_nav">
                    상담 안내
                </div>
                <div id="left-nav-bottom">
                  <div class="lnb-borderbox"><a href="{% url 'counsel050101' %}">1. 상담후기</a></div>
                  <div><a href="{% url 'counsel050201' %}">2. 재무상담신청</a></div>
                </div>
            </div>
            <div id="right_aside">

                    신청 내용이 저장되었습니다.

                    <a href="{% url 'counsel050201' %}"><input type="button" value="확인"></a>

            </div>
        </div>
   {% endblock content %}
