{% extends 'layout.html' %}
    {% block content %}

        <div class="basic_cont">
            <div id="left_aside">
                <div id="left_nav">
                    상담 안내
                </div>
                <div id="left-nav-bottom">
                    <div><a href="{% url 'counsel050101' %}">1. 상담후기</a></div>
                    <div><a href="{% url 'counsel050201' %}">2. 재무상담신청</a></div>
                </div>
            </div>
            <div id="right_aside">
                <div id="r-subtitle">
                    상담후기
                </div>
                <div>
                    <table class="counsel_table">
                        {% for counsel in counsel %}
                        <tr>
                            {% if counsel.photo %}
                            <td><img src="{{ counsel.photo.url }}" /></td>
                            {% endif %}
                            <td>{{ counsel.content }} / {{ counsel.hits }} / {{ counsel.created_at }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div>
                    <table class="search_table">
                        <tbody>
                        <td class="search_box">
                            <table class="search_table2">
                                <td>
                                    <input type="search" id="search_input">   
                                </td>
                                <td> 
                                    <input type="button" value="검색" id="search_btn">
                                </td>
                            </table>
                        </td>
                        <td class="question_box">
                            <div>
                                <a href="{% url 'c01_write' %}">글올리기</a>
                            </div>
                        </td>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>

    {% endblock content %}
