{% extends 'layout.html' %}
    {% block content %}

        <div class="basic_cont">
            <div id="left_aside">
                <div id="left_nav">
                    상담 안내
                </div>
                <div id="left-nav-bottom">
                    <div><a href="{% url 'counsel050101' %}">1. 상담후기</a></div>
                    <div class="lnb-borderbox"><a href="{% url 'counsel050201' %}">2. 재무상담신청</a></div>
                </div>
            </div>
            <div id="right_aside">
                정말 삭제하시겠습니까?
                <a href="{% url 'c01_delete_db' pk %}">
                    <input type="submit" value="확인"></a>
            </div>
        </div>

    {% endblock content %}