{% extends 'layout.html' %}
    {% block content %}

        <div class="basic_cont">
            <div id="left_aside">
                <div id="left_nav">
                    고객센터
                </div>
                <div id="left-nav-bottom">
                    <div><a href="{% url 'customer070101' %}">1. 공지사항</a></div>
                    <div><a href="{% url 'customer070201' %}">2. 새소식</a></div>
                    <div class="lnb-borderbox"><a href="{% url 'customer070301' %}">3. 이벤트</a></div>    
                    <div><a href="{% url 'customer070401' %}">4. Q&A</a></div>
<!--
                    <div><a href="04_knowledge0501.html">5. 세금</a></div>
                    <div><a href="04_knowledge0601.html">6. 궁금합니다.</a></div>          
-->
                </div>
            </div>
            <div id="right_aside">
                <div id="r-subtitle">
                    이벤트
                </div>
                <table id="fa-r-tb9">
                    <tr>
                        <td id="fatb9-1-1">번호</td>
                        <td id="fatb9-1-2">제목</td>
                        <td id="fatb9-1-3">이벤트 기간</td>
                        <td id="fatb9-1-4">상태</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>         
                <div>
                    <table class="search_table">
                        <tbody>
                        <td class="search_box">
                            <div>
                                <input type="text" width="30px;">
                                <input type="button" value="검색">
                            </div>
                        </td>
                        <td>
                            <div class="empty_box_100px">
                            </div>
                        </td>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>

    {% endblock content %}
