{% extends 'layout.html' %}
    {% block content %}

        <div class="basic_cont">
            <div id="left_aside">
                <div id="left_nav">
                    고객센터
                </div>
                <div id="left-nav-bottom">
                    <div class="lnb-borderbox"><a href="{% url 'customer070101' %}">1. 공지사항</a></div>
                    <div><a href="{% url 'customer070201' %}">2. 새소식</a></div>
                    <div><a href="{% url 'customer070301' %}">3. 이벤트</a></div>    
                    <div><a href="{% url 'customer070401' %}">4. Q&A</a></div>
<!--
                    <div><a href="04_knowledge0501.html">5. 세금</a></div>
                    <div><a href="04_knowledge0601.html">6. 궁금합니다.</a></div>          
-->
                </div>
            </div>
            <div id="right_aside">
                <div id="r-subtitle2">
                    공지사항
                </div>
                <div>
                    <div class="list_box">
                        <a href="07_customer0101.html">목록으로</a>
                    </div>
                </div>
                <table class="list_detail">
                    <tr>
                        <td class="ld_title">
                            제목
                        </td>
                    </tr>
                    <tr>
                        <td class="ld_subtitle">
                            작성자 : 조회수 :
                        </td>
                    </tr>
                    <tr>
                        <td class="ld_contents2">
                            내용
                        </td>
                    </tr>       
                    
                </table> 
                <div class="list_show">
                    <div class=border-bottom-1px>
                        이전글 / 어쩌구 저쩌구
                    </div>
                    <div>
                        다음글 / 어쩌구 저쩌구
                    </div>
                </div>                              
            </div>
        </div>

    {% endblock content %}
