{% extends 'layout.html' %}
    {% block content %}

        <div class="basic_cont">
            <div id="left_aside">
                <div id="left_nav">
                    고객센터
                </div>
                <div id="left-nav-bottom">
                    <div><a href="{% url 'customer070101' %}">1. 공지사항</a></div>
                    <div><a href="{% url 'customer070201' %}">2. 새소식</a></div>
                    <div><a href="{% url 'customer070301' %}">3. 이벤트</a></div>
                    <div><a href="{% url 'customer070401' %}">4. Q&A</a></div>
                </div>
            </div>
    <div id="right_aside">
        <div id="r-subtitle2">
            수정페이지
        </div>
        <div>
            <div class="list_box">
                <a href="{% url 'customer070301' %}">
                목록
                </a>
            </div>
        </div>
        <form method="POST" action="/customer/03/{{ oldboard01.id }}/customer03_edit_db/">
            {% csrf_token %}
            <table class="write_detail">
                <tr class="wd_title">
                    <td class="w25">
                        제목
                    </td>
                    <td>
                        <input type="text" name="title" value="{{ oldboard01.title }}" maxlenghth="50" required>
                    </td>
                </tr>
                <tr class="wd_contents">
                    <td class="center_center">
                        내용
                    </td>
                    <td>
                        <textarea type="text" name="content" required>{{ oldboard01.content }}</textarea>
                    </td>
                </tr>
                <div class="container">
                  <fieldset>
                    <div class="control-group">
                          <label class="control-label">시작일</label>
                          <div class="controls input-append date form_date" data-date="" data-date-format="yyyy MM dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                              <input size="16" type="text" value="" name="start_date" required readonly>
                              <span class="add-on"><i class="icon-remove"></i></span>
                    <span class="add-on"><i class="icon-th"></i></span>
                          </div>
                  <input type="hidden" id="dtp_input2" value="" /><br/>
                      </div>
                  </fieldset>
                </div>
                <div class="container">
                  <fieldset>
                    <div class="control-group">
                          <label class="control-label">종료일</label>
                          <div class="controls input-append date form_date" data-date="" data-date-format="yyyy MM dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                              <input size="16" type="text" value="" name="end_date" required readonly>
                              <span class="add-on"><i class="icon-remove"></i></span>
                    <span class="add-on"><i class="icon-th"></i></span>
                          </div>
                  <input type="hidden" id="dtp_input2" value="" /><br/>
                      </div>
                  </fieldset>
                </div>
            </table>
            <div class="confirm_btn">
                <table class="confirm_box">
                    <td>
                        <input type="submit" value="저장">
                    </td>
                </table>
            </div>
        </form>
   </div>
</div>
{% block javascript %}
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language:  'ko',
        weekStart: 1,
        todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
        showMeridian: 1
    });
  $('.form_date').datetimepicker({
        language:  'ko',
        weekStart: 1,
        todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0
    });
  $('.form_time').datetimepicker({
        language:  'ko',
        weekStart: 1,
        todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 1,
    minView: 0,
    maxView: 1,
    forceParse: 0
    });
</script>
{% endblock %}
    {% endblock content %}
